body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
}

.profile-banner {
    /*padding-top:30px;*/
    text-align:center;
    background-color:#020202;
    color: white;
    background-image: url("../Assets/banner_background.png");
}

.profile-banner-caption {
    /*opacity: 0.8;*/
    background: rgba(2, 2, 2, 0.8);
    margin: 0;
    padding-bottom: 10px;
    /*margin-top:-20%;
    padding-top:20%;*/
}

.profile-pic-holder {
    width: 100%;
    background: rgba(2, 2, 2, 0.8);
    /*background-color: #020202;*/
    padding-top: 30px;
}

.ribbon-holder {
    width:100%;
    overflow:auto;
}

.ribbon {
    width:100%; 
    min-width:1000px;
}

.profile-pic {
    width: 15%;
    height: auto;
    border-radius: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 1);
}

.profile-tab {
    text-align:center;
    color: white;
    background-color:#020202;
    width:20%;
    min-width:200px;
    float:left;
    cursor:pointer;
    padding-top:5px;
    padding-bottom:5px;
}

.profile-tab:focus {
    background-color:#222;
}

.profile-tab:focus ~ .profile-banner {
    background-color:#222;
    
}

.profile-tab:hover {
    background-color:#222;
}

.portfolio-content {
    height:83vh;
    width:100%;
    overflow:auto;
}

::-webkit-scrollbar {
    display: none;
    height:0;
}

.portfolio-content-scroller {
    width:600vw;
    transition: margin-left 0.5s;
}

.portfolio-segment {
    width:100vw;
    float: left;
    margin-left:20px;
}

.portfolio-segment-block {
    width:31vw;
    float: left;
    margin-right: 15px;
}
.portfolio-segment-wide-block {
    width:46vw;
    float: left;
    margin-right: 15px;
}
.scrolled-header {
    background-color:#020202;
    color:white;
    width:100%;
    overflow:hidden;
    height:0px;
}

.social-media-icon {
    width:20%;
}
